{% load i18n static bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% trans 'OTOKON Form Create' %}</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/navbar-fixed-top.css" %}" rel="stylesheet">
    <link href="{% static "admin/css/widgets.css" %}" rel="stylesheet">
    <script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
    <script src="{% static "JS/ie-emulation-modes-warning.js" %}"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="{% static "images/otokon_logo_büyük.png" %}" width=50px heigth=50px/>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="http://www.otokon.itu.edu.tr/OTOKON.html">OTOKON</a></li>
            <li><a href="http://www.otokon.itu.edu.tr/forum/">OTOKON FORUM</a></li>
            <li><a href="http://www.ituro.itu.edu.tr/">ITURO</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li class="active"><a href="{% url 'realout' %}">{% trans "Log out" %}<span class="sr-only">(current)</span></a></li>
            {% endif %}
            {% if LANGUAGE_CODE == 'en' %}
            <li class="active" id="language-button"><a href="#">Türkçe<span class="sr-only">(current)</span></a></li>
            {% elif LANGUAGE_CODE == 'tr' %}
            <li class="active" id="language-button"><a href="#">English<span class="sr-only">(current)</span></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <form action="{% url 'set_language' %}" method="post" style="display:none;">
      {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        {{redirect_to}}
        {% if LANGUAGE_CODE == 'en' %}
        <input name ="language" type="hidden" value ="tr" />
        {% elif LANGUAGE_CODE == 'tr' %}
        <input name ="language" type="hidden" value ="en" />
        {% endif %}
        <input type="submit" value="Go" id="language-form-submit" />
      </form>
      <br>
      <br>
      {% bootstrap_messages %}
      {% if not user.is_authenticated %}
      {% block login %}{% endblock %}
      {% endif %}
      {% if user.is_authenticated %}
      {% block content %}{% endblock %}
      {% endif %}
    </div>
    <script src="{% static "JS/jquery.min.js" %}"></script>
    <script src="{% static "JS/bootstrap.min.js" %}"></script>
    <script src="{% static "JS/ie10-viewport-bug-workaround.js" %}"></script>
    <script src="{% static "JS/change_language.js" %}"></script>
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
  </body>
</html>
