{% extends "base.html" %}
{% load i18n crispy_forms_tags bootstrap3 %}
{% bootstrap_messages %}
{% block content %}
<h1>{% trans "Form Create" %}</h1>
<form enctype="multipart/form-data" action="" method="post">
  {% csrf_token %}
  {% crispy form %}
  <br><hr><div class="note">
  <h4 style="color:red">{% trans "Important Note" %}</h4>
  {% blocktrans %}
  <p>Please go and register to <a href="http://www.otokon.itu.edu.tr/forum/">
  forum</a> as your username in the format "name surname". The announcements
  regarding OTOKON such as organizations and seminars are made using
  this forum.</p>
  {% endblocktrans %}
  <hr><br>
  {% buttons %}
  <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
  {% endbuttons %}</div>
</form>
{% endblock %}
