{% load i18n staticfiles bootstrap3 crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% trans 'OTOKON Form Create' %}</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/navbar-fixed-top.css" %}" rel="stylesheet">
    <script src="{% static "JS/ie-emulation-modes-warning.js" %}"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="{% static "images/otokon_logo_büyük.png" %}" width=50px heigth=50px/>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="http://www.otokon.itu.edu.tr/OTOKON.html">OTOKON</a></li>
            <li><a href="http://www.otokon.itu.edu.tr/forum/">OTOKON FORUM</a></li>
            <li><a href="http://www.ituro.itu.edu.tr/">ITURO</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if LANGUAGE_CODE == 'en' %}
            <li class="active" id="language-button"><a href="#">Türkçe<span class="sr-only">(current)</span></a></li>
            {% elif LANGUAGE_CODE == 'tr' %}
            <li class="active" id="language-button"><a href="#">English<span class="sr-only">(current)</span></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <form action="{% url 'set_language' %}" method="post" style="display:none;">
      {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        {{redirect_to}}
        {% if LANGUAGE_CODE == 'en' %}
        <input name ="language" type="hidden" value ="tr" />
        {% elif LANGUAGE_CODE == 'tr' %}
        <input name ="language" type="hidden" value ="en" />
        {% endif %}
        <input type="submit" value="Go" id="language-form-submit" />
      </form>
      <br>
      {% bootstrap_messages %}
      <br>
      <h1>{% trans "Form Create" %}</h1>
        <form enctype="multipart/form-data" action="" method="post">
          {% csrf_token %}
          {% crispy form %}
          <br><hr><div class="note">
          <h4 style="color:red">{% trans "Important Note" %}</h4>
          {% blocktrans %}
          <p>Please go and register to <a href="http://www.otokon.itu.edu.tr/forum/">
          forum</a> as your username in the format "name surname". The announcements
          regarding OTOKON such as organizations and seminars are made using
          this forum.</p>
          {% endblocktrans %}
          <hr><br>
          {% buttons %}
          <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
          {% endbuttons %}</div>
        </form>
    </div>
    <script src="{% static "JS/jquery.min.js" %}"></script>
    <script src="{% static "JS/bootstrap.min.js" %}"></script>
    <script src="{% static "JS/ie10-viewport-bug-workaround.js" %}"></script>
    <script src="{% static "JS/change_language.js" %}"></script>
    <script src="{% static "JS/tooltip.js" %}"></script>
  </body>
</html>
