{% extends "base.html" %}
{% load i18n bootstrap3 %}
{% bootstrap_messages %}
{% block content %}
<h2 align="left">{% trans "Form Create" %}</h2>
<h><br>
<form class="form-horizontal" enctype="multipart/form-data" action="" method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  <br>
  <div class="note">
    {% buttons %}
      <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    {% endbuttons %}
  </div>
</form>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script>
  $(document).ready(function(){
    $("#id_other_departments").hide();
    $('label[for=id_other_departments]').hide();
    $("#id_department").on("change",function(){
      var x = $( "#id_department option:selected" ).val();
       if( x == "OTH"){
          $("#id_other_departments").show();
        }
       else if( x != "OTH"){
         $("#id_other_departments").hide();
       };
    });
  });
 </script>
{% endblock %}
